<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DAS-features-test-suite" parallel="false">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="das-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.das.integration.tests.jsapi.analytics"/>
        </packages>
    </test>
    <!--<test name="global-purging" preserve-order="true" parallel="false">-->
        <!--<packages>-->
            <!--<package name="org.wso2.das4is.integration.tests.globalpurging"/>-->
        <!--</packages>-->
    <!--</test>-->
    <test name="is-analytics" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.das4is.integration.tests.is.ISAuthenticationAnalyticsTestCase"/>
            <!--class name="org.wso2.das4is.integration.tests.is.ISSessionAnalyticsTestCase"></class-->
            <class name="org.wso2.das4is.integration.tests.is.ISLoginSuccessAfterMultipleFailuresAlertTestCase"/>
            <!--class name="org.wso2.das4is.integration.tests.is.ISAlertLongSessionsAnalyticsTestCase"/-->
            <class name="org.wso2.das4is.integration.tests.is.AbnormalTokenRefreshTestCase"/>
        </classes>
    </test>
</suite>
