body.dark .row {
    background-color: #353C48;
}

body.dark .thumbnail {
    background-color: #1E2531;
    color: #E3E5E6;
    border: 1px solid #6B7992;
}

body.dark .caption {
    background-color: #1E2531;
    color: #E3E5E6;
}

body.dark .btn-link {
    color: #FFF;
}

body.dark .btn-link:hover {
    color: #6B7992;
}

body.dark .btn-default {
    color: #FFF;
    background-color: #1E2531;
}

body.dark .btn-default:hover {
    color: #FFF;
    background-color: #636C7C;
}

.btn-link:hover {
    color: #6B7992;
}

.btn-link {
    color: #1E2531;
    text-decoration: underline;
}

.thumbnail {
    padding: 20px 5px 5px 10px;
    height: 100%;
}

.row {
    display: table;
    table-layout: fixed;
}

.col-4 {
    display:table-cell;
    vertical-align:middle;
    float: none;
}

.caption > p {
    height: 25%;
}

#donutDivOverall {
    text-align: center;
    height: 30%;
}

#donutDivLocal {
    text-align: center;
    height: 30%;
}

#donutDivFederated {
    text-align: center;
    height: 30%;
}

#totalCountOverall {
    text-align: center;
}

#totalCountLocal {
    text-align: center;
}

#totalCountFederated {
    text-align: center;
}

#successPercentOverall {
    color: #5CB85C !important;
    font-size: 11px;
    text-align: center;
    height: 15px;
}

#failedPercentOverall {
    color: #D9534F !important;
    font-size: 11px;
    text-align: center;
    height: 15px;
}

#successPercentLocal {
    color: #5CB85C !important;
    font-size: 11px;
    text-align: center;
    height: 15px;
}

#failedPercentLocal {
    color: #D9534F !important;
    font-size: 11px;
    text-align: center;
    height: 15px;
}

#successPercentFederated {
    color: #5CB85C !important;
    font-size: 11px;
    text-align: center;
    height: 15px;
}

#failedPercentFederated {
    color: #D9534F !important;
    font-size: 11px;
    text-align: center;
    height: 15px;
}

body.dark svg.marks .mark-group .background {
    fill: #1E2531 !important;
}

body.dark svg.marks .mark-group .mark-text text {
    fill: #7D8596 !important;
}

body.dark svg.marks .mark-group .mark-rule line {
    stroke: #E3E5E6 !important;
}