body.dark svg.marks .mark-group .background {
    fill: #121822;
}

body.dark svg.marks .mark-group .mark-text text {
    fill: #7D8596;
}

body.dark svg.marks .mark-group .mark-rule line {
    stroke: #E3E5E6;
}

#back, #back:focus, #back:hover {
    position: absolute;
    top: 20px;
    left: 62px;
    font-size: 12px;
    z-index: 100000;
    display: none;
    cursor: pointer;
    opacity: 0.6;
}

#back:hover {
    opacity: 1;
}

body.drak .chart-label {
    color: #ECEEF3;
}

body.dark svg.marks .mark-group .background {
    fill: #1E2531 !important;
}

body.dark svg.marks .mark-group .mark-text text {
    fill: #7D8596 !important;
}

body.dark svg.marks .mark-group .mark-rule line {
    stroke: #E3E5E6 !important;
}