.stats h1,
.stats h2,
.stats h3,
.stats h4,
.stats h5,
.stats h6 {
    margin: 0;
}

.stats-total h1 {
    font-size: 40;
    margin-top: -11px;
}

.stats-total h2 {
    font-size: 18px;
    margin-top: -5px;
}

.stats-breakdown h1 {
    font-size: 25px;
}

.stats-breakdown h2 {
    font-size: 15px;
    margin-top: -2px;
}

.stats-breakdown > :first-child h1 {
    font-size: 60px;
}

.stats-breakdown > :first-child h2 {
    font-size: 17px;
    margin-top: -8px;
}

.stats-breakdown > :first-child {
    margin-bottom: 10px;
}

svg.marks .mark-group .background {
    fill: transparent !important;
}

.arc-chart {
    position: relative;
}

.chart-breakdown {
    margin: 40px 0;
    width: 80px;
    text-align: center;
    color: #A9ABAF;
}

.chart-breakdown > hr {
    margin: 10px 0;
    border-top-color: #353B48;
}

.chart-breakdown h1 {
    font-size: 25px;
    margin: 0;
    color: #fff;
}

.chart-breakdown h2 {
    font-size: 14px;
    margin: 0;
}

.chart-label-count {
    font-size: 12px;
    text-align: center;
    color: #A9ABAF;
    position: absolute;
    top: 58%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.chart-label {
    font-size: 16px;
    text-align: center;
    margin-top: -10px;
}

body.drak .chart-label {
    color: #ECEEF3;
}

#back, #back:focus, #back:hover {
    position: absolute;
    top: 20px;
    left: 62px;
    font-size: 12px;
    z-index: 100000;
    display: none;
    cursor: pointer;
    opacity: 0.6;
}

#back:hover {
    opacity: 1;
}

/* ========================================================================
 * switch styles
 * ======================================================================== */
.switch {
    display: inline-block;
    width: 40px;
    cursor: pointer;
    position: relative;
    margin-top: -4px;
}

.switch > input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.switch > input[type=checkbox] + .helper:after {
    position: absolute;
    left: 18px;
    top: 0px;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: rgb(217, 83, 79);
    z-index: 2;
    border-radius: 8px;
    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
}

.switch > input[type=checkbox]:checked + .helper:after {
    left: 1px !important;
    background: rgb(92, 184, 92);
}

.switch .helper {
    padding-left: 52px;
    position: relative;
}

.switch .helper:before {
    position: absolute;
    left: 0;
    top: 2px;
    display: block;
    content: "";
    width: 33px;
    height: 12px;
    cursor: pointer;
    background: #7D8596;
    margin-left: 2px;
    z-index: 1;
    border-radius: 8px;
}

body.dark svg.marks .mark-group .background {
    fill: #1E2531 !important;
}

body.dark svg.marks .mark-group .mark-text text {
    fill: #7D8596 !important;
}

body.dark svg.marks .mark-group .mark-rule line {
    stroke: #E3E5E6 !important;
}

#successPercent {
    color: #5CB85C !important;
    font-size: 11px;
    text-align: center;
}

#failedPercent {
    color: #D9534F !important;
    font-size: 11px;
    text-align: center;
}