.pagination {
    margin: 0px;
    display: block;
    padding: 5px;
}

.pagination ul > li > a, .pagination ul > li > span {
    padding: 2px 6px;
    line-height: 10px;
    border: none;
}

.twitter-typeahead > pre {
    display: none;
}

.typeahead.tt-hint {
    margin-bottom: 0;
    visibility:hidden;
}

#autocomplete-search-box .typeahead{
    vertical-align: middle !important;
    border-radius: 0px;
    width: 100%;
}
.typeahead{
    width: 100%;
}
.twitter-typeahead{
    width: 100%;
}

span.twitter-type[ahead {
    margin: 0;
    padding: 0;
}

input.typeahead.tt-input{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

input.typeahead.tt-hint{
    width: 100%;
}
.input-group{
    padding:0px 20px;
}

#button-group {
    float: right;
    padding: 0px;
    width: 14%;
    display: table-row;
}

#add-filter {
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 12px
}

#remove-filter{
    height: 20px;
    width: 20px;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    display:none;
}

.residentIdp { padding-left: 20px; }

.residentIdp > a {
    text-decoration: underline;
    color: #e3e5e6;
}

.residentIdp > a:hover { text-decoration: none; }

body.dark svg.marks .mark-group .background {
    fill: #121822 !important;
}

body.dark svg.marks .mark-group .mark-text text {
    fill: #7D8596 !important;
}

body.dark svg.marks .mark-group .mark-rule line {
    stroke: #E3E5E6 !important;
}

body.dark #spLableId{
    background-color: #494D54;
    color: #fff;
    border: 1px solid #494D54;
    border-radius: 0px;
    padding: 4px 5px;
}
body.dark #spLableId:hover{
    background-color: #1E2531;
    border: 1px solid #383636;
}

body.dark #remove-filter{
    background-color: #494D54;
    color: #fff;
    border: 1px solid #494D54;
}

body.dark #remove-filter:hover{
    background-color: #1E2531;
    border: 1px solid #383636;
}

body.dark #add-filter{
    background-color: #494D54;
    color: #fff;
    border: 1px solid #494D54;
}
body.dark #add-filter:hover{
    background-color: #1E2531;
    border: 1px solid #383636;
}
body.dark .gadget-container{
    height: 100%;
}
#autocomplete-search-box{
    width: 100%;
}
.twitter-typeahead > .typeahead.typeahead-inverted.tt-input + pre + .tt-menu {
    top: auto !important;
    bottom: 15px;
    width: 76%;
    left: 0 !important;
}
.tt-suggestion.tt-selectable:hover {
    cursor: pointer;
    background: #494D54;
    color: #fff;
}

.pagination ul{
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0px auto;
    width: 50px;
    height: 15px;
    margin-bottom: 10px;
}

.pagination ul li a { 
    padding: 5px;
    border-radius: 0 !important;
}

body.dark .pagination ul li a {
    background: #353C48;
    color: #fff;
}

.pagination ul > li > a:hover {
    background-color: #29313e;
    color: #fff;
}

body.dark .pagination ul > li > a:hover {
    background-color: #535f73;
    color: #fff;
}

body.dark .pagination ul li.active a { 
    background: #29313e;
    color: #4f5a6d;
}
.successChart, .failureChart{
    position: relative;
}
.gadget-container .nav{
    margin-bottom: 0px;
    border-bottom: 1px solid #353C48;
}
.nav-tabs > li > a {
    padding: 0px 10px;
    border-radius: 0px;
    border: none;
    color: #B7B7B7;
    background-color: #2C2D2F;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    color: #FFFFFF;
    cursor: default;
    background-color: #494D54;
    border-bottom-color: transparent;
    border: none;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    border:none;
}
.nav > li > a:hover, .nav > li > a:focus{
    text-decoration: none;
    background-color: #494D54;
}
.tab-content{
    overflow: inherit;
}

.input-group-btn {
    position: relative;
    white-space: nowrap;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
    display: table-cell;
}

body.dark .tt-hint {
    background: transparent !important;
}

body.dark .tt-input {
    border: 1px solid #6B7992 !important;
    color: #E3E5E6;
}

body.dark .tt-menu {
    background-color: #1E2531;
    color: #E3E5E6;
    border: 1px solid #6B7992;
}