.pagination {
    margin: 0 0 10px;
    height: 15px;
    display: block;
}

.pagination ul > li > a, .pagination ul > li > span {
    padding: 2px 6px;
    line-height: 10px;
    border: none;
}

.twitter-typeahead > pre {
    display: none;
}

.typeahead.tt-hint {
    margin-bottom: 0;
    visibility:hidden;
}

#autocomplete-search-box .typeahead{
    vertical-align: middle !important;
    border-radius: 0px;
    margin: 0px 0px 0px 10px;
    width: 90%;
}

span.twitter-typeahead {
    margin: 0;
    padding: 0;
}

.twitter-typeahead {
    width: 80%;
}

input.typeahead.tt-input{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

input.typeahead.tt-hint{
    width: 100%;
}

#button-group {
    float: right;
    padding: 0px;
    width: 20%;
    display: table-row;
}

#add-filter {
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 12px
}

#remove-filter{
    height: 20px;
    width: 20px;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    display:none;
}

.residentIdp{
    padding-left: 10px;
}

body.dark svg.marks .mark-group .background {
    fill: #121822 !important;
}

body.dark svg.marks .mark-group .mark-text text {
    fill: #7D8596 !important;
}

body.dark svg.marks .mark-group .mark-rule line {
    stroke: #E3E5E6 !important;
}

body.dark #spLableId{
    background-color: #29313E;
    color: #fff;
}

body.dark #remove-filter{
    background-color: #29313E;
    color: #fff;
}

body.dark #add-filter{
    background-color: #29313E;
    color: #fff;
}