.dark .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.dark .table-bordered > tbody > tr > td,
.dark .table-bordered > thead > tr > th{
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .table-bordered {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .table-bordered >tbody .selected{
    color:green;
    font-style:italic;
}

.table-bordered >tbody .selected{
    color:green;
    font-style:italic;
}

.dataTables_filter input {
    display: block;
    float: right;
    width: 100%;
}

.dark .dataTables_filter input {
    color: #ffffff;
    float: right;
}

.dataTables_wrapper .dataTables_length {
    float: left;
}
.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

.alert-type-ABNORMAL_ACCESS_TOKEN {
    background-size: contain;
    background-image: url("../images/icon-ABNORMAL_ACCESS_TOKEN.png");
}

.alert-type-common {
    height: 20px;
    width: 20px;
    background-color: red;
}